body {
  display: block;
  margin: 0px;
}

.choice-content {
  font-family: "Source Sans Pro", sans-serif;
  display: grid;
  grid-template-columns: 320px 500px auto;
  grid-template-areas: "empty welcome choice";
  position: fixed;
  height: 100%; 
}

.side-bar {
  height: 100%;
  background: #B1D8F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 25px;  
  position: relative;
  width: 320px;
}
.side-bar_items {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.choice-content .welcome-column {
  padding: 40px;
  grid-area: welcome;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}
.choice-content .welcome-column .icon {
  height: 80px;
  width: 140px;
  border: 1px solid red;
}
.choice-content .welcome-column h2 {
  font-size: 32px;
}

.railcard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choice-content .welcome-column p {
  font-size: 28px;
  font-weight: bold;
  margin-top: 60px;
}
.choice-content .welcome-column img {
  width: 250px;
  height: 150px;
}
.choice-content .choice-column {
  grid-area: choice;
  padding: 40px;
}
.choice-content .choice-column h2 {
  font-size: 36px;
}
.choice-content .choice-column .details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 100px;
  grid-row-gap: 10px;
}
.choice-content .choice-column .details-container .action button {
  background-image: linear-gradient(-180deg, #8FA4CA 2%, #063663 100%);
  border-radius: 18px;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.choice-content .choice-column .details-container .action-disabled button {
  /* Rectangle 3 Copy 7: */
  background-image: linear-gradient(-180deg, #FBFBFB 2%, #909090 100%);
  border-radius: 18px;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.choice-content .navigation button {
  float: right;
  height: 100px;
  width: 300px;
  background-color: white;
  border: 4px solid black;
  margin-right: 50px;
  font-size: 32px;
  font-weight: bold;
}

* {
  font-family: 'SourceSansPro', sans-serif;
}
.screen {
  position: static;
  width: 100%;
  height: 100%;
}
.screen .header {
    background-color: #13171F;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-right: 1px solid #13171F;
}
.screen .header .left {
  color: white;
  margin-top: 80px;
  font-size: 32px;
  font-family: Arial, sans-serif;
  margin-left: 50px;
}
.screen .header .centre {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 32px;
  text-align: center;
}
.screen .header .right img {
  height: 50px;
  float: right;
  margin-top: 55px;
  margin-right: 50px;
}

.home-content {
  background-image: url(./images/mockups/home.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.home-content #qrcode {
  height: 255px;
  width: 255px;
  margin-top: 483px;
  margin-right: 133px;
  float: right;
  background-color: white;
}

.wrapper {
  width: 1700px;
  height: 1200px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .border-1 {
  padding: 50px;
  background-color: #423828;
  height: calc(100% - (2 * 50px));
  border-radius: 40px;
  border: 2px solid #4b4030;
}
.wrapper .border-1 .border-2 {
  padding: 25px;
  background-color: #24251F;
  height: calc(100% - (2 * 25px));
  border-radius: 20px;
  border: 1px solid black;
}
.wrapper .border-1 .border-2 .screen {
  background-color: white;
  height: calc(100% - 20px);
  border: 10px solid black;
}
.header {
  height: 100px;
  width: 100%;
}
