.choice-content {
  background-image: url(./images/mockups/choice.png);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Source Sans Pro", sans-serif;
  height: 880px;
  display: grid;
  grid-template-columns: 327px 500px auto;
  grid-template-rows: auto 150px;
  grid-template-areas: "empty welcome choice" "nav nav nav";
}
.choice-content .welcome-column {
  padding: 40px;
  grid-area: welcome;
}
.choice-content .welcome-column .icon {
  height: 80px;
  width: 140px;
  border: 1px solid red;
}
.choice-content .welcome-column h2 {
  font-size: 32px;
}
.choice-content .welcome-column p {
  font-size: 28px;
  font-weight: bold;
  margin-top: 60px;
}
.choice-content .welcome-column img {
  width: 250px;
  height: 150px;
}
.choice-content .choice-column {
  grid-area: choice;
  padding: 40px;
}
.choice-content .choice-column h2 {
  font-size: 36px;
}
.choice-content .choice-column .details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 100px;
  grid-row-gap: 10px;
}
.choice-content .choice-column .details-container .action button {
  background-image: linear-gradient(-180deg, #8FA4CA 2%, #063663 100%);
  border-radius: 18px;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.choice-content .navigation {
  grid-area: nav;
}
.choice-content .navigation button {
  float: right;
  height: 100px;
  width: 300px;
  background-color: white;
  border: 4px solid black;
  margin-right: 50px;
  font-size: 32px;
  font-weight: bold;
}

* {
  font-family: 'SourceSansPro', sans-serif;
}
.screen {
  display: grid;
  grid-template-rows: 150px auto;
  grid-template-areas: "header" "main-content";
}
.screen .header {
  grid-area: header;
  background-color: #13171F;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  border-right: 1px solid #13171F;
}
.screen .header .left {
  color: white;
  margin-top: 80px;
  font-size: 32px;
  font-family: Arial, sans-serif;
  margin-left: 50px;
}
.screen .header .centre {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 32px;
  margin-top: 80px;
  text-align: center;
}
.screen .header .right img {
  height: 50px;
  float: right;
  margin-top: 55px;
  margin-right: 50px;
}

.home-content {
  background-image: url(./images/mockups/home.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 880px;
}
.home-content #qrcode {
  height: 255px;
  width: 255px;
  margin-top: 483px;
  margin-right: 133px;
  float: right;
  background-color: white;
}

body {
  background-image: url(./images/debut_dark.png);
  background-repeat: repeat;
}
.wrapper {
  width: 1700px;
  height: 1200px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .border-1 {
  padding: 50px;
  background-color: #423828;
  height: calc(100% - (2 * 50px));
  border-radius: 40px;
  border: 2px solid #4b4030;
}
.wrapper .border-1 .border-2 {
  padding: 25px;
  background-color: #24251F;
  height: calc(100% - (2 * 25px));
  border-radius: 20px;
  border: 1px solid black;
}
.wrapper .border-1 .border-2 .screen {
  background-color: white;
  height: calc(100% - 20px);
  border: 10px solid black;
}
.header {
  height: 100px;
  width: 100%;
}
